.resume {
    @apply flex flex-col items-center;
    width: 800px;
    padding: 50px 0;

    h1 {
        @apply text-white text-2xl;
        margin-top: 20px;
    }

    h2 {
        @apply text-red-500 text-xl
    }

    p {
        @apply text-white;
        margin-top: 10px;
    }

    h3 {
        @apply text-white font-bold;
        margin-top: 20px;
    }
}